@page "/khachhangupdate/{IdUp}";
@using BlazorServer.CRUD.Component.Confir;
@using BlazorServer.CRUD.Services.ForMemBer;
@using PhongKhamNhaKhoa.Model.ForMemBerRequest.KhachHang;

@inject KhachHangService KhachHangSer;
@inject NavigationManager NavigationManager;
@inject IToastService ToastService;

<h3> Edit Khách Hàng  </h3>
@if (NewKhachHang == null || LstKhachHang == null)
{
    <BlazorServer.CRUD.Component.LoadingIndicator></BlazorServer.CRUD.Component.LoadingIndicator>
}
else
{
    <EditForm Model="NewKhachHang" OnSubmit="UpdateKhachHang" >
        <div class="col">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="@NewKhachHang.Name">
               
            </InputText>
        </div>
        <div class="col">
            <label>NumberPhone</label>
            <InputText class="form-control" @bind-Value="@NewKhachHang.NumberPhone">
            </InputText>
        </div>
        <div class="col">
            <label>Address</label>
            <InputText class="form-control" @bind-Value="@NewKhachHang.AddressKH">
              
            </InputText>
        </div>
        <div class="col m-2">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </EditForm>
    <ConfirmationSuccess ConfirmationMessage="@($"Bạn có muốn sửa không?")" ConfirmationTitle="Sửa Khách Hàng"
                         @ref="UpdateConfirmation" ConfirmationChanged="OnSubmitForm"> </ConfirmationSuccess>
}
@code {
    [Parameter]
    public string IdUp { get; set; }
    public KhachHangUpdateRequest NewKhachHang = new KhachHangUpdateRequest();
    public List<KhachHangRequest> LstKhachHang;

    //Confirmation
    private ConfirmationSuccess UpdateConfirmation { get; set; }

    public KhachHangRequest Request { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var newkh = await KhachHangSer.GetByIdKhachHang(IdUp);
        NewKhachHang.Name = newkh.Name;
        NewKhachHang.NumberPhone = newkh.NumberPhone;
        NewKhachHang.AddressKH = newkh.AddressKH;
        LstKhachHang = await KhachHangSer.GetAllKhachHang();
    }
    public async Task UpdateKhachHang()
    {
        UpdateConfirmation.Show();
    }
    public async Task OnSubmitForm(bool createphieukham)
    {
        if (createphieukham == true)
        {
            await KhachHangSer.UpdateKhachHang(Guid.Parse(IdUp), NewKhachHang);
            NavigationManager.NavigateTo("/showkhachhang");
            ToastService.ShowSuccess($"Đã sửa thành công rồi nhé em!", "Success");
        }
        else
        {
            ToastService.ShowError($"Có lỗi rồi thằng ngu. Xem lại đi!!", "Error");
        }
    }
}
